.dashboard-card {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  border-top: 5px solid #3498db;
  transition: all 200ms ease;
  .dashboard-icon {
    display: block;
    color: darken(#3498db, 30%);
    transition: all 200ms ease;
  }
  .dashboard-title {
    display: block;
    color: darken(#3498db, 30%);
    transition: all 200ms ease;
  }
  .table {
    th {
      padding-left: 20px;
    }
    td {
      padding-right: 20px;
    }
  }
}

.card-title {
  text-transform: uppercase;
  color: #1e3042;
  font-size: 20px;
  padding-bottom: 10px;
}

a:hover .dashboard-card {
  background: #3498db;
  text-decoration: none;
  transition: all 200ms ease;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  box-shadow: 0 2px 5px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  .dashboard-icon {
    color: #fff;
    transition: all 200ms ease;
  }
  .dashboard-title {
    color: #fff;
    transition: all 200ms ease;
  }
}
.jarys-Alias:before {
  content: @fa-var-font;
}

.jarys-Text:before {
  content: @fa-var-file-text;
}

.jarys-Menu:before {
  content: @fa-var-sitemap;
}

.jarys-Block:before {
  content: @fa-var-th-large;
}

.jarys-User:before {
  content: @fa-var-users;
}

.jarys-Media:before {
  content: @fa-var-picture-o;
}

.alert {
  margin-bottom: 20px;
}

.jarys-time-widget {
  .select2 {
    display: inline-block;
    max-width: 100px;
  }
}

.page-size-block {
  margin-bottom: 20px;
  h4 {
    margin-bottom: 10px;
  }
  a {
    .btn-shadow;
    display: inline-block;
    margin-right: 5px;
    color: #fff;
    background-color: #141f2b;
    padding: 10px;
    min-width: 50px;
    text-align: center;
    &.active {
      background-color: #3498db;
    }
    &:hover, &:focus {
      color: #fff;
      background-color: #3498db;
    }
  }
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}