.panel {
  border: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  margin-bottom: 30px;
  &.panel-primary {
    > .panel-heading {
      background-color: #3498db;
      border: 0;
    }
  }
  .panel-body {
    &.panel-body-table {
      padding: 0;
    }
  }
}

.panel-icon .fa {
  margin-right: 20px;
}

.sum-left {
  clear: left;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.sum-right {
  float: right;
  margin-bottom: 10px;
}

div.sum-left {
  color: #000;
}