.alert {
  @extend .card-panel;
  &.alert-success {
    @extend .teal;
    @extend .white-text;
  }
  &.alert-danger {
    @extend .red.darken-3;
    @extend .white-text;
  }
  &.alert-warning {
    @extend .orange;
    @extend .white-text;
  }
  &.alert-info {
    @extend .light-blue.accent-4;
    @extend .white-text;
  }
}

.bg-danger {
  display: block;
  @extend .card-panel;
  @extend .white-text;
  @extend .red.darken-3;
}