
.calendar {
  margin-bottom: 15px;
}

.fc-day-grid-event {
  @extend .teal;
  @extend .z-depth-1;
  border-radius: 0;
  border: none;
  padding: 5px;
  &.holiday {
    @extend .red.darken-4;
  }
  &.blacklist {
    @extend .black;
  }
  &.passed {
    @extend .amber;
  }
  &.now {
    @extend .blue;
  }
}

.fc-view {
  > table {
    border: none;
    .fc-head {
      @extend .z-depth-1;
      border: none;
      tr {
        border: none;
        td {
          border: none;
        }
      }
    }
    .fc-content-skeleton {
      padding: 0;
      margin: 0;
      > table {
        border: none;
        > thead {
          background-color: #eee;
        }
      }
    }
    td.fc-sun, td.fc-sat {
      background-color: #f9f9f9;
    }
  }
}


.list {
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    position: relative;
    min-height: 60px;
  }
}

.list-simple{
  >li {
    margin-bottom: 20px;
  }
}

.list-timeline {
  position: relative;
  padding-top: 10px;
  &:before {
    position: absolute;
    top: 0;
    left: 120px;
    bottom: 0;
    display: block;
    width: 4px;
    content: "";
    background-color: #f9f9f9;
    z-index: 1;
  }
  > li {
    margin-bottom: 10px;
    min-height: 40px;
    z-index: 2;
  }
  .list-timeline-time {
    position: absolute;
    top: 8px;
    left: 0;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    width: 90px;
    background-color: transparent;
  }
  .list-timeline-icon {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
  }
  .list-timeline-content {
    padding: 10px 10px 1px;
    p {
      margin-bottom: 0;
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    .list-timeline-content {
      padding-left: 160px;
    }
  }
}

.item {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 60px;
  .item-rounded {
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .list-timeline .list-timeline-icon {
    top: 3px;
    left: 105px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    z-index: 2 !important;
  }
}

@media (max-width: 767px) {
  .list-timeline {
    &:before {
      left: -7px;
      bottom: 0;
    }
    .list-timeline-time,
    .list-timeline-icon {
      position: relative;
      left: 0;
      top: 0;
    }
    .list-timeline-content {
      padding-left: 0;
    }
  }

}