footer {
  .page-footer {
    margin: 0;
  }
}

.social-list {
  li {
    display: inline-block;
    margin: 0 20px 20px 0;
    .fa {
      font-size: 50px;
      color: #fff;
    }
    a {
      display: inline-block;
      transition: transform 500ms ease;
      transform: scale(1);
      width: 50px;
      img {
        width: 50px;
      }
      &:hover,
      &:focus {
        transform: scale(1.1);
      }
    }
  }
}