.content {
  margin: 0 auto;
  padding: 16px 14px 1px;
  max-width: 100%;
  overflow-x: visible;
}

.bg-image {
  background-color: #f9f9f9;
  position: relative;
  > * {
    z-index: 3;
    display: block;
    position: relative;
  }
  .black-overlay {
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.4;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .h2 {
    font-weight: 300;
  }
}

.intro-page {
  background-color: #fff;
  padding: 5px 30px;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .content {
    margin: 0 auto;
    padding: 30px 30px 1px;
    max-width: 100%;
    overflow-x: visible;
  }
}

.svg {
  position: absolute;
  bottom: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.svg.desktop {
  left: calc(50% - 289.5px);
}

.svg.android {
  left: calc(50% - 492px);
  z-index: 2;
}

.svg.iphone {
  left: calc(50% - 341.5px);
}

.svg.laptop {
  left: calc(50% - 4px);
}

.image-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.svg.background {
  opacity: .3;
  -webkit-transition: none;
  transition: none;
}

.triangle.triangle-0 {
  left: calc(50% - 579px);
  bottom: 300px;
}

.triangle.triangle-1 {
  left: calc(50% + 31px);
  bottom: 550px;
}

.triangle.triangle-2 {
  left: calc(50% - 289px);
  bottom: 448px;
}

.dot.dot-0 {
  left: calc(50% - 599px);
  bottom: 200px;
}

.dot.dot-1 {
  left: calc(50% - 319px);
  bottom: 600px;
}

.dot.dot-2 {
  left: calc(50% + 181px);
  bottom: 500px;
}

.dot.dot-3 {
  left: calc(50% + 531px);
  bottom: 600px;
}

.dot.dot-4 {
  left: calc(50% + 621px);
  bottom: 140px;
}

.circle.circle-0 {
  left: calc(50% - 359px);
  bottom: 530px;
}

.circle.circle-1 {
  left: calc(50% + 576px);
  bottom: 280px;
}

.circle.circle-2 {
  left: calc(50% - 199px);
  bottom: 88px;
}

.square.square-0 {
  left: calc(50% + 17px);
  bottom: 92px;
}

.square.square-1 {
  left: calc(50% + 431px);
  bottom: 400px;
}

.square.square-2 {
  left: calc(50% + 331px);
  bottom: 600px;
}

.svg.x.x-0 {
  left: calc(50% + 101px);
  bottom: 440px;
}
