.navbar {
  background-color: $primary-color;
  ul {
    > li {
      a {
        color: #fff;
      }
    }
  }
}

.no-nav-shadow {
  nav {
    box-shadow: none;
  }
}

.user-avatar {
  max-height: 54px;
  border-radius: 50%;
  margin-left: 10px;
  border: 4px solid #fff;
}