nav.side-nav {
  width: 230px;
  background-color: $bg-color-sidebar;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1032;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: all .28s ease-out;
  transform: translateX(0px);
  font-size: 14px;
  .sidebar-content {
    width: 230px;
  }
  li {
    line-height: 20px;
  }
  a {
    font-size: 14px;
    font-weight: 400;
    height: auto;
    line-height: 20px;
    &.side-header-title {
      padding: 0;
      color: #fff;
      font-size: 25px;
      span {
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
        margin-right: 20px;
      }
    }
  }
  &.sidebar-mini {
    width: 65px;
    .sidebar-mini-hide {
      display: none;
    }
  }
}

.bg-white-op {
  background-color: rgba(255,255,255,0.075);
}

.side-header {
  margin: 0 auto;
  &.side-content {
    padding-top: 0;
    padding-left: 10px;
  }
  .side-content {
    overflow: visible;
  }
  > a {
    display: inline-block;
    line-height: 34px;
  }
  img {
    height: 40px;
    width: 40px;
  }
}



.side-content {
  margin: 0 auto;
  padding: 13px 20px 1px;
  max-width: 100%;
  overflow-x: hidden;
}

.side-nav {
  .nav-main {
    margin: 0 -20px;
    padding: 0;
    list-style: none;
    .nav-main-heading {
      padding: 22px 20px 6px 20px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.3);
    }
    a {
      display: block;
      padding: 10px 20px;
      color: rgba(255, 255, 255, 0.5);
      @extend .valign-wrapper;
      .nav-submenu {
        position: relative;
        padding-right: 30px;
      }
      &.active,
      &.active:hover {
        color: #fff;
      }
      &:hover,
      &:focus {
        color: rgba(255,255,255,0.5);
        background-color: rgba(0,0,0,0.2);
        > i.material-icons {
          color: #fff;
        }
      }
      > i.material-icons {
        vertical-align: middle;
        display: inline-block;
        min-width: 14px;
        margin-right: 15px;
        color: rgba(255, 255, 255, 0.2);
        float: none;
        height: auto;
        line-height: 20px;
        width: auto;
      }
      > span {
        vertical-align: middle;
      }
    }
  }
}