//
// SASS Variables jarys
// -----------------------

$sitename: 'zupa';
$author: 'zupa';

$brand-primary: #3498db;
$brand-secondary: #333;
$brand-tertiary: #f2f2f2;
$brand-quaternary: #3498db;
$brand-quinary: #141f2b;

$primary-color: #88c5cc;
$link-color: $primary-color;

$card-link-color: $primary-color;
$card-link-color-light: lighten($card-link-color, 20%);



$footer-bg: #2e3537;
$body-bg: #2e3537;
$submenu-bg: lighten(#2e3537, 5%);
$navbar-bg: #111;//#fcfcfc;
$navbar-color: #fefefe;//#2e3537;

$light-bg: #f2f2f2;

$text-color: #f2f2f2;
$text-grey: lighten(#595d65,30%);
$text-color-dark: lighten(#000, 40%);

$headings-font-family:     "Montserrat", Helvetica, Arial, sans-serif;
$base-font-family:         "Lato", Helvetica, Arial, sans-serif;;

$block-spacing: 30px;

$nav-height: 120px;
$nav-normal-height: 74px;

