{% spaceless %}
    <!DOCTYPE html>
    <html lang="en_EN">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="{{ site_setting('site_description') }}">
        <meta name="keywords" content="{{ site_setting('site_keywords') }}">
        <meta name="author" content="{{ site_setting('site_author') }}">

        <title>{% block title %}DevZupa{{ site_setting('site_title') }} | Error{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/zupa.css') }}" media="screen">
            <link rel="stylesheet" href="{{ asset('build/zupa_print.css') }}" media="print">
        {% endblock %}

        <link rel="alternate" href="https://bot.devzupa.be" hreflang="x-default" />

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon/favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset('assets/images/favicon/manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('assets/images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon/favicon.ico') }}">
        <meta name="msapplication-config" content="{{ asset('assets/images/favicon/browserconfig.xml') }}">
        <meta name="theme-color" content="#ffffff">

        {% block indexing %}
            <meta name="robots" content="noindex, nofollow">
        {% endblock %}
    </head>
    <body class="{% block pageTypeClass %}{% endblock %}">
    <div class="body-wrapper">
        {% include 'navbar.html.twig' %}
        {% include 'header.html.twig' %}
        {% block body %}

                {#{% include 'header.html.twig' with {'record' : record} %}#}
                {#{% include 'navbar.html.twig' with {'record' : record} %}#}
                {#{% include 'banner.html.twig' with {'record' : record} %}#}
                {#{% include 'footer.html.twig' with {'record' : record} %}#}

        {% endblock %}
        {% include 'footer.html.twig' %}
    </div>
    <a href="#" class="btn-floating btn waves-effect waves-light grey darken-4 back-to-top js-back-to-top">
        <i class="material-icons">&#xE5D8;</i>
    </a>

    {% block javascripts %}
        <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/materialize/dist/js/materialize.min.js') }}"></script>
        <script src="{{ asset('build/zupa.min.js') }}"></script>
    {% endblock %}

    {% include 'analytics.html.twig' %}

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

    </body>
    </html>
{% endspaceless %}