{% spaceless %}
    <!DOCTYPE html>
    <html lang="en_EN">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="{{ site_setting('site_description') }}">
        <meta name="keywords" content="{{ site_setting('site_keywords') }}">
        <meta name="author" content="{{ site_setting('site_author') }}">

        <title>{% block title %}Tobania {{ site_setting('site_title') }} | {{ record.displayTitle }}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/front.css') }}?v=1.2" media="screen">
            <link rel="stylesheet" href="{{ asset('build/front_print.css') }}?v=1.2" media="print">
            <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cutive+Mono" media="all">
            <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all">
        {% endblock %}

        <link rel="alternate" href="https://bot.devzupa.be" hreflang="x-default" />

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}" />

        {% block indexing %}
            <meta name="robots" content="noindex, nofollow">
        {% endblock %}
    </head>
    <body class="{% block pageTypeClass %}{% endblock %}">
    {% block bg %}
    {% endblock %}
    <div class="body-wrapper">
        {% block bodywrapper %}
            {% include 'sidebar.html.twig' with {'record' : record} %}
            <div class="main-body sidebar-mini">
                {% include 'navbar.html.twig' with {'record' : record} %}
                {% include 'header.html.twig' with {'record' : record} %}
                <div class="main-content">
                    {% block body %}{% endblock %}
                </div>
                {% include 'footer.html.twig' with {'record' : record} %}
            </div>
        {% endblock %}
    </div>
    <a href="#" class="btn-floating btn waves-effect waves-light grey darken-4 back-to-top js-back-to-top">
        <i class="material-icons">&#xE5D8;</i>
    </a>

    {% block javascripts %}
        <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/materialize/dist/js/materialize.min.js') }}"></script>
        <script src="{{ asset('vendor/select2/dist/js/select2.min.js') }}"></script>
        <script src="{{ asset('vendor/chart.js/dist/Chart.bundle.min.js') }}"></script>
        <script src='{{ asset('vendor/moment/min/moment-with-locales.min.js') }}'></script>
        <script src='{{ asset('vendor/fullcalendar/dist/fullcalendar.js') }}'></script>
        <script src="{{ asset('build/front.min.js') }}?v=1.2"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgZxuGJK6oAr5AtC98ASC5NCJKmTTwXzI"></script>
    {% endblock %}

    {% include 'analytics.html.twig' %}

    {% if app.environment == 'dev' %}
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    {% endif %}

    </body>
    </html>
{% endspaceless %}