{#<footer class="page-footer">#}
    {#<div class="footer-copyright">#}
        {#<div class="container">#}
            {#© 2014 Zupa developments#}
            {#<a class="grey-text text-lighten-4 right" href="https://www.devzupa.be">devzupa.be</a>#}
        {#</div>#}
    {#</div>#}
{#</footer>#}