{#{% if pageTypeClass is defined and pageTypeClass == "homepage" %}#}
    {#<div class="homepage-banner">#}
        {#<img class="homepage-banner-img"#}
             {#src="{{ image('uploads/images/banner2.jpg').scaleResize(300, 0) }}"#}
             {#srcset="#}
                    {#{{ image('uploads/images/banner2.jpg').scaleResize(600, 0 ) }} 600w,#}
                    {#{{ image('uploads/images/banner2.jpg').scaleResize(1000, 0) }} 1000w,#}
                    {#{{ image('uploads/images/banner2.jpg').scaleResize(1600, 0) }} 1600w,#}
                    {#{{ image('uploads/images/banner2.jpg').scaleResize(2100, 0) }} 2100w"#}
             {#alt="Zupa's Banner"#}
        {#/>#}

        {#<div class="header-overlay"></div>#}
        {#<div class="header-overlay-border"></div>#}
        {#<div class="section no-pad-bot">#}
            {#<div class="container">#}
                {#<br><br>#}
                {#<br><br>#}
                {#<h1 class="header center white-text">Jonas Windmolders</h1>#}
                {#<div class="row center">#}
                    {#<h5 class="header col s12 light white-text"><span class="italic">" </span>Zupa<span class="italic">"</span><br><br>Webdeveloper focused on FrontEnd development</h5>#}
                {#</div>#}
                {#<div class="row center">#}
                    {#<a href="#" class="btn-floating btn-large waves-effect waves-dark primary js-homepage-banner"><i class="material-icons">&#xE5DB;</i></a>#}
                {#</div>#}
                {#<br><br>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% else %}#}
    {#<div class="zupa-banner">#}
        {#<img class="zupa-banner-img"#}
             {#src="{{ image('uploads/images/material-banner-zupa.png').scaleResize(300, 0) }}"#}
             {#srcset="#}
                    {#{{ image('uploads/images/material-banner-zupa.png').scaleResize(600, 0 ) }} 600w,#}
                    {#{{ image('uploads/images/material-banner-zupa.png').scaleResize(1000, 0) }} 1000w,#}
                    {#{{ image('uploads/images/material-banner-zupa.png').scaleResize(1600, 0) }} 1600w,#}
                    {#{{ image('uploads/images/material-banner-zupa.png').scaleResize(2100, 0) }} 2100w"#}
             {#alt="Zupa's Banner"#}
        {#/>#}
        {#<div class="section no-pad-bot">#}
            {#<div class="container">#}
                {#<h1 class="header center white-text">{% if pageTitle is defined %}{{ pageTitle }}{% else %}Error{% endif %}</h1>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endif %}#}
