<div class="navbar-wrapper">
    <nav class="navbar js-nav-push-pin cyan color-white" role="navigation">
        <div class="nav-wrapper">
            <ul class="right">
                <li><a href="{{ path('servers') }}"><span class="nav-item-text">{% if user is defined and user %}{{ user.__get('username') }}<img src="https://cdn.discordapp.com/avatars/{{ user.id }}/{{ user.__get('avatar') }}.jpg" class="discord-img user-avatar" /></span>{% else %}</span>{% endif %} </a></li>
                <li><a href="{{ path('servers') }}"><span class="nav-item-text">Active server: {% if activeGuild is defined %}{{ activeGuild.name }}{% else %}None{% endif %}</span></a></li>
            </ul>
            <ul class="left">
                <li><a href="#" data-activates="nav-mobile" class="button-sidebar js-button-sidebar"><i class="material-icons">menu</i></a></li>
            </ul>
        </div>
    </nav>
</div>