{% spaceless %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="ZBot! The discord bot to manage your BattlEye server from discord.">
        <meta name="keywords" content="Discord, Bot, Rcon, BattlEye, Arma, Bohemia, Zupa, devzupa">
        <meta name="author" content="Zupa">

        <title>Zbot</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/zupa.css') }}" media="screen">
        {% endblock %}
    </head>
    <body>
    <div class="body-wrapper">
        {#{% include 'header.html.twig' with {'record' : record} %}#}
        {#{% include 'navbar.html.twig' with {'record' : record} %}#}
        {#{% include 'banner.html.twig' with {'record' : record} %}#}
        {#{% include 'footer.html.twig' with {'record' : record} %}#}
        {% block body %}
        {% endblock %}
    </div>
        {% block javascripts %}
            <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/materialize/dist/js/materialize.min.js') }}"></script>
            <script src="{{ asset('build/zupa.min.js') }}?v=2"></script>
        {% endblock %}
    {% include 'ga.html.twig' %}
    </body>
</html>
{% endspaceless %}