<nav id="slide-out" class="side-nav sidebar-mini js-sidebar">
    <div class="sidebar-content">
        <div class="side-header side-content bg-white-op">
            <a class="side-header-title" href="{{ path('home') }}">
                <img src="{{ asset('assets/images/zbot_bot_logo_00dce3.png') }}" /> <span class="sidebar-mini-hide">ZBot</span>
            </a>
        </div>
        <div class="side-content">
            <ul class="nav-main">
                <li>
                    <a class="active" href="{{ path('homepage') }}"><i class="material-icons">&#xE871;</i><span class="sidebar-mini-hide">Home</span></a>
                </li>
                <li class="nav-main-heading"><span class="sidebar-mini-hide"></span></li>
                <li>
                    <a class="nav-submenu" href="{{ path('servers') }}"><i class="material-icons">list</i><span class="sidebar-mini-hide">Discord Servers</span></a>
                </li>

                <li class="nav-main-heading"><span class="sidebar-mini-hide"></span></li>
                <li>
                    <a class="nav-submenu" href="{{ path('commands') }}"><i class="material-icons">info_outline</i><span class="sidebar-mini-hide">Commands</span></a>
                </li>
                <li>
                    <a class="nav-submenu" target="_blank" href="https://discord.gg/WYbeSKR"><i class="material-icons">&#xE158;</i><span class="sidebar-mini-hide">Contact</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>