.button-collapse {
  color: #26a69a;
}

.back-to-top {
  position: fixed;
  right: 40px;
  bottom: -40px;
  transition: bottom 500ms ease;
  top: auto!important;
  &.pinned {
    bottom: 40px;
    top: auto !important;
  }
}