.flex-card {
  height: 100%;
  margin: 0 0 30px 0;
  &.card {
    .card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    .card-content {
      padding-bottom: 50px;
    }
  }
}