.homepage-banner {
  background-size: cover;
  background-position: center center;
  height: auto;
  min-height: 36.25vw;
  position: relative;
  .section {
    z-index: 2;
    position: relative;
  }
  &-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.header-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}

.header-overlay-border {
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 7px solid $primary-color;
  width: 33%;
}

.header-color-bar {
  height: 120px;
  background-color: $primary-color;
}

@media (max-width: 500px) {
  h1 {
    &.header {
      font-size: 30px;
    }
  }
  h5  {
    &.header {
      font-size: 20px;
    }
  }
}