.icon-box {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 35px 30px;
  text-align: center;
  cursor: default;
  color: #9f9f9f;
  margin-bottom: 24px;
  .material-icons {
    font-size: 50px;
    color: $primary-color;
  }
  h5 {
      color: #000;
    font-size: 19px;
  }
  .divider {
    width: 49px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background: #58c4a7;
  }
  .divider {
    max-width: 100%;
    margin: 13px auto;
    transition: .33s all ease;
  }
  .box-body {
    max-width: 100%;
    font-style: italic;
  }
  .box-top,
  .box-body {
    position: relative;
    will-change: transform;
    transition: .33s all ease;
    -webkit-filter: blur(0);
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: calc(100% - 35px);
    height: calc(100% - 35px);
    border: 1px solid #e5e7e9;
    pointer-events: none;
    transition: .33s all ease;
  }
  &:before {
    top: 0;
    left: 0;
    border-width: 1px 0 0 1px;
  }
  &:after {
    bottom: 0;
    right: 0;
    border-width: 0 1px 1px 0;
  }
  &:hover,
  &:active,
  &:focus {
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      border-color: $primary-color;
    }
    .divider {
      width: 168px;
    }
    .box-top {
      transform: translateY(-9px);
    }
    .box-body {
      transform: translateY(9px);
    }
  }
}

.highlight-title {
  color: #000;
  text-align: center;
  width: auto;
  margin: 0 auto 50px auto;
  align-self: center;
  span {
    color: $primary-color;
    font-style: italic;
  }
  //.title-underline {
  //  display: block;
  //  width: 30%;
  //  border-bottom: 5px solid $primary-color
  //}
}

.highlight-title-wrapper {
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 1;
    border: 1px solid #eeeeee;
  }
  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    border: 2px solid $primary-color;
  }
}

.char-wrappper {
  position: relative;
  padding: 0 30px;

}

.chart-col-wrapper {
  margin-bottom: $block-spacing;
}

.parallax-content {
  z-index: 20;
}

.parallax-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}

.chart-title {
  color: #fff;
  @extend .font-header;
  font-size: 25px;
  margin-top: 40px;
  transform: scale(0);
  .scrollFire.focussed & {
    transition: transform 1000ms ease;
    transform: scale(1);
  }
}

.chart-number {
  color: #fff;
  font-size: 70px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -50px;
  transform: scale(0);
  .scrollFire.focussed & {
    transition: transform 1000ms ease;
    transform: scale(1);
  }
}

.shart-content {
  color: #fff;
  background-color: #444;
}

@media (min-width: 768px) {
  .icon-box {
    padding: 67px 40px 61px;
    margin-left: auto;
    margin-right: auto;
  }
}