$nav-speed: 500ms;

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  height: $nav-height;
  transition: height $nav-speed ease;
  @extend .white;
  @extend .black-text;
  .brand-logo {
    float: left;
    color: #000;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      height: 60%;
      max-height: 100%;
      transition: height $nav-speed ease;
    }
    &:hover,
    &:focus,
    &:active {
      img {
        height: 64%;
      }
    }
  }
  ul {
    height: 100%;
    > li {
      height: 100%;
      > a {
        height: 100%;
        color: #000;
        padding: (($nav-height - 20px) / 2) 19px;
        line-height: 20px;
        font-weight: 700;
        font-size: 18px;
        display: block;
        transition: padding $nav-speed ease;
        @extend .font-header;
        &:hover,
        &:focus,
        &:active {
          background-color: inherit;
          .nav-item-line {
            width: 80%;
          }
        }
      }
    }
  }
  &.pinned {
    height: $nav-normal-height;
    ul {
      > li {
        > a {
          padding: (($nav-normal-height - 20px) / 2) 19px;
          line-height: 20px;
        }
      }
    }
  }
}

.nav-item-line {
  width: 0;
  display: block;
  border-bottom: 4px solid $primary-color;
  transition: width 400ms ease;
  margin-top: 5px;
}

