.rcon-list {
  li {
    margin-bottom: 10px;
    a, span {
      margin-right: 20px;
    }
  }
}

.action {
  a {
    margin-right: 10px;
  }
  > div {
    padding: 15px;
    margin-bottom: 10px;
  }
}