.icon-block {
  padding: 0 15px;
  .material-icons {
    font-size: inherit;
  }
}

.pre-title-icon {
  text-align: center;
  .material-icons {
    font-size: 100px;
    color: $primary-color;
  }
}

.card-label {
  color: $text-grey;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 10px;
}

.card-action {
  a {

  }
}


.google-map {
  min-height: 90%;
  &.full-height {
    min-height: 100%;
  }
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}




@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.card-image {
  &:before {
    bottom: 0;
    content: '';
    display: block;
    height: 25%;
    left: 0px;
    position: absolute;
    right: 0px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
    z-index: 2;
  }
  img {
    z-index: 1;
  }
  .card-title {
    z-index: 3;
  }
}