html {
  font-family: $base-font-family;
}

body {
  fill: currentColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
}

.section {
  display: block;
  width: 100%;
}

.page-title {
}

.sub-title {
  font-size: 14px;
}


.zupa-btn {
  z-index: 2;
}

.animation-img {
  margin: 30px auto 0 auto;
  max-width: 100%;
}

.top-wrapper {
  background-color: #333;
  color: #fff;
}

.title-wrapper {
  z-index: 2;
}

.discord-img {
  border-radius: 50%;
  border: 5px solid #fff;
  width: 150px;
  height: 150px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
}

.guild-server {
  display: inline-block;
  padding: 15px;
  img, .circle {
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #000;
    width: 75px;
    height: 75px;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
  }
}

nav.bread {
  height: auto !important;
  .row {
    margin: 0;
  }
}

.save-btn {
  margin-bottom: 30px;
  input {
    height: 100%;
    width: 100%;
  }
}

.toast {
  @extend .teal;
}