.font-header {
  font-family: $headings-font-family;
}

.font-base {
  font-family: $base-font-family;
}

.primary {
  background-color: $primary-color;
}


.primary-text {
  color: $primary-color;
}

.italic {
  font-style: italic;
}


.section-50 {
  padding: 50px 0;
}

.section-sm-90 {
  padding: 90px 0;
}

.section-lg-120 {
  padding: 120px 0;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}