.icon-block {
  padding: 0 15px;
  .material-icons {
    font-size: inherit;
  }
}

.pre-title-icon {
  text-align: center;
  .material-icons {
    font-size: 100px;
    color: $primary-color;
  }
}

.card-label {
  color: $text-grey;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 10px;
}

.card-action {
  a {

  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}