{% extends '::base.html.twig' %}

{% block indexing %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block body %}
    <div class="content bg-image overflow-hidden" style="background-image: url('{{ asset('assets/images/mp-10.png') }}');">
        <div class="black-overlay"></div>
        <div class="push-50-t push-15">
            <h2 class="h2 white-text animated zoomIn">{{ activeGuild.name }}</h2>
            <h5 class="h5 text-white-op animated zoomIn">BattlEye Rcon - Discord Bot - ZBot By Zupa</h5>
        </div>
    </div>

    <div class="card z-depth-0 push-0-t cyan lighten-1">
        <form id="bercon-form" name="bercon-form" action="{{ path('bercon_form', {'guildId': guild.__get('id'),  'berconId': bercon.id ? bercon.id : 'new'}) }}" method="post">
        <div class="card-content white">
            <p>To reload the config for your server into the bot, type in any channel of your server:  !zbot reload</p>
            <p style="align-content: center">
                <button type="submit" name="submit"
                        class="btn waves-effect waves-light zupa-btn save-btn cyan"><i class="material-icons left">save</i>Save</button>
                <a href="{{ path('discord-servers', {guildId: activeGuild.id }) }}" class="btn waves-effect waves-light zupa-btn save-btn red darken-3 right"><i class="material-icons left">backspace</i>Back</a>
            </p>
        </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width tabs-transparent">
                    <li class="tab"><a href="#server">Details</a></li>
                    <li class="tab"><a href="#actions">Actions</a></li>
                    <li class="tab"><a href="#channels">Channels</a></li>
                    <li class="tab"><a href="#jobs">Cron Jobs</a></li>
                    <li class="indicator"></li></ul>
            </div>
            {% if saved %}
                <div class="js-saved"></div>
            {% endif %}

            <div class="card-content grey lighten-2">
                <div id="server" >
                    <div class="card white push-0-t">
                        <div class="card-content black-text">
                            <span class="card-title">Details</span>
                            <p>
                                Please take the following information into account & look at the arma documentation for more info.
                            </p>
                            <ul class="collection">
                                <li class="collection-item">RCON Port is not the game port.</li>
                                <li class="collection-item">RCON Password is not the admin password.</li>
                                <li class="collection-item">Ports needs to be open on your firewall!</li>
                                <li class="collection-item">Timezone number is needed for displaying the correct chat time in your discord for your game server. Possible values: ..., -8, -7, ..., -1, 0, 1, 2, 3,...</li>
                            </ul>
                            <span class="card-title">Arma documentation</span>
                            <blockquote>
                                <a rel="nofollow" href="https://community.bistudio.com/wiki/Arma_3_Dedicated_Server#Port_Forwarding">Arma_3_Dedicated_Server#Port_Forwarding</a>
                                <br/><a rel="nofollow" href="https://community.bistudio.com/wiki/BattlEye#RCon">BattlEye#RCon ( NOT entry 1 )</a>
                            </blockquote>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" name="name" type="text" class="validate" value="{{ bercon.name }}">
                                    <label for="name">Name (Display only)</label>
                                </div>
                                <div class="input-field col s8">
                                    <input id="ip" name="ip" type="text" class="validate" value="{{ bercon.ip }}">
                                    <label for="ip">Server IP</label>
                                </div>
                                <div class="input-field col s4">
                                    <input id="port" name="port" type="text" class="validate" value="{{ bercon.port }}">
                                    <label for="port">RCON Port</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="rconPassword" name="rconPassword" type="password" class="validate" value="{{ bercon.rconPassword }}">
                                    <label for="rconPassword">RCON Password</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="timezone" name="timezone" type="text" class="validate" value="{{ bercon.timezone }}">
                                    <label for="timezone">Server UTC Timezone (Default +2)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="actions" >
                    <div class="card white push-0-t">
                        <div class="card-content black-text">
                            <span class="card-title">Server Actions</span>
                            <p class="push-10-b">
                                Actions that players can use in chat to activate commands for this server only.
                            </p>
                            <blockquote>
                                !teamspeak<br/>Our ts is xx.xx.xx.xx<br/>Someone asked for ts ingame<br/>rcon-admin
                            </blockquote>
                            <div class="row">
                                <div class="col s12 actionParent">
                                    {% for action in bercon.actions %}
                                        <div class="action grey lighten-5 col s12 m6 l4">
                                            <div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <input id="command{{ loop.index0 }}" name="command{{ loop.index0 }}" type="text" class="validate" value="{{ action.command }}">
                                                        <label for="command{{ loop.index0 }}" data-error="wrong" data-success="right">Command</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <input id="reply{{ loop.index0 }}" name="reply{{ loop.index0 }}" type="text" class="validate" value="{{ action.reply }}">
                                                        <label for="reply{{ loop.index0 }}" data-error="wrong" data-success="right">Reply Chat</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <input id="discordReply{{ loop.index0 }}" name="discordReply{{ loop.index0 }}" type="text" class="validate" value="{{ action.discordReply }}">
                                                        <label for="discordReply{{ loop.index0 }}" data-error="wrong" data-success="right">Reply Discord</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <input id="role{{ loop.index0 }}" name="role{{ loop.index0 }}" type="text" class="validate" value="{{ action.role }}">
                                                        <label for="role{{ loop.index0 }}" data-error="wrong" data-success="right">Discord role to mention</label>
                                                    </div>
                                                    <div class="col s12">
                                                        <a  href="#" class="btn-floating btn-large blue js-clone push-10-r">
                                                            <i class="large material-icons">content_copy</i>
                                                        </a>
                                                        <a  href="#" class="btn-floating btn-large red js-remove">
                                                            <i class="large material-icons">delete</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="channels" style="" >
                    <div class="card white push-0-b">
                        <div class="card-content black-text">
                            <span class="card-title">Channels</span>
                            <p>
                                Provide a discord TEXT channel for each type of RCON chat. This allows you to split or group different chats into a discord text channel.
                                <br/>
                                <br/>
                                <b>NO # in channel names!</b> <br/>
                            </p>
                           <table class="bordered">
                               <tr>
                                   <td>
                                       <input type="checkbox" class="filled-in" id="showSide" name="showChannels[side]" {% if bercon.showChannels.side %}checked="checked"{% endif %} />
                                       <label for="showSide">Show Side Channel in</label>
                                   </td>

                                   <td>
                                       <div class="input-field">
                                           <input id="side" name="channels[side]" type="text" class="validate" value="{{ bercon.channels.side }}">
                                           <label for="side">Channel name</label>
                                       </div>
                                   </td>
                               </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="showDirect"  name="showChannels[direct]" {% if bercon.showChannels.direct %}checked="checked"{% endif %} />
                                    <label for="showDirect">Show Direct Channel in</label>
                                </td>
                                <td>
                                    <div class="input-field">
                                        <input id="direct" name="channels[direct]" type="text" class="validate" value="{{ bercon.channels.direct }}">
                                        <label for="direct">Channel name</label>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="showVehicle"  name="showChannels[vehicle]" {% if bercon.showChannels.vehicle %}checked="checked"{% endif %} />
                                    <label for="showVehicle">Show Vehicle Channel in</label>
                                </td>

                                <td>
                                    <div class="input-field">
                                    <input id="vehicle" name="channels[vehicle]" type="text" class="validate" value="{{ bercon.channels.vehicle }}">
                                    <label for="vehicle">Channel name</label>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="showGroup"  name="showChannels[group]" {% if bercon.showChannels.group %}checked="checked"{% endif %} />
                                    <label for="showGroup">Show Group Channel in</label>
                                </td>

                                <td>
                                    <div class="input-field">
                                    <input id="group" name="channels[group]" type="text" class="validate" value="{{ bercon.channels.group }}">
                                    <label for="group">Channel name</label>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="showAdmin"  name="showChannels[admin]" {% if bercon.showChannels.admin %}checked="checked"{% endif %} />
                                    <label for="showAdmin">Show Admin Channel in</label>
                                </td>

                                <td>
                                    <div class="input-field">
                                    <input id="admin" name="channels[admin]" type="text" class="validate" value="{{ bercon.channels.admin }}">
                                    <label for="admin">Channel name</label>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="showCommands"  name="showChannels[commands]" checked="checked" disabled="disabled" />
                                    <label for="showCommands">Show Commands Channel in</label>
                                </td>

                                <td>
                                    <div class="input-field">
                                    <input id="commands" name="channels[commands]" type="text" class="validate" value="{{ bercon.channels.commands }}">
                                    <label for="commands">Channel name</label>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="showGlobal"  name="showChannels[global]" {% if bercon.showChannels.global %}checked="checked"{% endif %} />
                                    <label for="showGlobal">Show Global Channel in</label>
                                </td>

                                <td>
                                    <div class="input-field">
                                    <input id="global" name="channels[global]" type="text" class="validate" value="{{ bercon.channels.global }}">
                                    <label for="global">Channel name</label>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="showJoins"  name="showChannels[joins]" {% if bercon.showChannels.joins %}checked="checked"{% endif %} />
                                    <label for="showJoins">Show Join Channel in</label>
                                </td>

                                <td>
                                    <div class="input-field">
                                    <input id="joins" name="channels[joins]" type="text" class="validate" value="{{ bercon.channels.joins }}">
                                    <label for="joins">Channel name</label>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="showDefault" name="showChannels[default]" checked="checked" disabled="disabled" />
                                    <label for="showDefault">Show Default Channel in</label>
                                </td>

                                <td>
                                    <div class="input-field">
                                    <input id="default" name="channels[default]" type="text" class="validate" value="{{ bercon.channels.default }}">
                                    <label for="default">Channel name</label>
                                    </div></td>
                            </tr>
                        </table>
                        </div>
                    </div>
                </div>
                <div id="jobs" style="" >
                    <div class="card white push-0-b">
                        <div class="card-content black-text">
                            <span class="card-title">Specific Jobs</span>
                            <p>
                                Jobs are text messages sent by the server ( rcon -> zbot ) to the server at given times.
                            </p>
                            <pre>
*    *    *    *    *    *
┬    ┬    ┬    ┬    ┬    ┬
│    │    │    │    │    |
│    │    │    │    │    └ day of week (0 - 7) (0 or 7 is Sun)
│    │    │    │    └───── month (1 - 12)
│    │    │    └────────── day of month (1 - 31)
│    │    └─────────────── hour (0 - 23)
│    └──────────────────── minute (0 - 59)
└───────────────────────── second (0 - 59, OPTIONAL)
                                    </pre>

                            <br/> Always keep the seconds on 0 ! <br/><br/>
                            <b>Examples</b>
                            <br/>time: '0 * * * * *', <br/>text: 'text every minut'
                            <br/>time: '0 15 * * * *', <br/>text: 'text every 15 min after an hour of the day'
                            <br/>time: '0 */15 * * * *', <br/>text: 'Every 15 minuts'
                            <br/>time: '0 */15 2 * * *', <br/>text: 'Every 15 minuts' at 2am. ( 2:00, 2:15, 2:30, 2:45)'
                            <br/>time: '0 */15 */2 * * *', <br/>text: 'Every 15 minuts of every 2 hours ( 2:15, 4:15, 6:15)'
                            <br><a href="http://www.nncron.ru/help/EN/working/cron-format.htm" target="_blank">Cron Time explanations</a>

                            <br/>
                            <br/> <p>Note: Due to the bot being not completed, the times defined (if using real hours) have to be GMT+1</p>

                            <div class="row">
                                <div class="col s12 jobParent">
                                    {% for job in bercon.getJobs() %}
                                        <div class="job grey lighten-5 col s12 m6 l4">
                                            <div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <input id="jobtime{{ loop.index0 }}" name="jobtime{{ loop.index0 }}" type="text" class="validate" value="{{ job.time }}">
                                                        <label for="jobtime{{ loop.index0 }}" data-error="wrong" data-success="right">Cron time</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <input id="jobtext{{ loop.index0 }}" name="jobtext{{ loop.index0 }}" type="text" class="validate" value="{{ job.text }}">
                                                        <label for="jobtext{{ loop.index0 }}" data-error="wrong" data-success="right">Text</label>
                                                    </div>
                                                    <div class="col s12">
                                                        <a  href="#" class="btn-floating btn-large blue js-clone-job push-10-r">
                                                            <i class="large material-icons">content_copy</i>
                                                        </a>
                                                        <a  href="#" class="btn-floating btn-large red js-remove-job">
                                                            <i class="large material-icons">delete</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>




{% endblock %}
