{% extends '::base.html.twig' %}

{% block indexing %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block body %}
    <div class="content bg-image overflow-hidden" style="background-image: url('{{ asset('assets/images/mp-10.png') }}');">
        <div class="black-overlay"></div>
        <div class="push-50-t push-15">
            <h2 class="h2 white-text animated zoomIn">ZBot Commands</h2>
            <h5 class="h5 text-white-op animated zoomIn">BattlEye Rcon - Discord Bot - By Zupa</h5>
        </div>
    </div>

    <div class="intro-page">
        <p>
            If you encounter one not working, please report in on the ZBot Discord server.
        </p>
    </div>

    <div class="content-wrapper">
        <div class="row push-0-b">
            <div class="col s12">
                <div class="card z-depth-0">
                    <div class="card-content black-text">
                        <span class="card-title">ZBOT commands</span>
                        <blockquote>
                            These commands are prefixed with !zbot
                        </blockquote>
                        <table class="bordered responsive-table highlight">
                            <thead>
                            <tr>
                                <th>Command</th>
                                <th>Description</th>
                                <th>Example</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>reload</td>
                                <td>Destroys all your loaded configuration and loads the new ones from the webpanel.</td>
                                <td>!zbot reload</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card z-depth-0">
                    <div class="card-content black-text">
                        <span class="card-title">RCON commands</span>
                        <blockquote>
                            These commands are prefixed with !rcon and are only usable in the defined command channel for your rcon instance.
                        </blockquote>
                        <table class="bordered responsive-table highlight">
                            <thead>
                            <tr>
                                <th>Command</th>
                                <th>Description</th>
                                <th>Example</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>players</td>
                                <td>List all players</td>
                                <td>!rcon players</td>
                            </tr>
                            <tr>
                                <td>players+</td>
                                <td>List all players with a country flag</td>
                                <td>!rcon players+</td>
                            </tr>
                            <tr>
                                <td>admins</td>
                                <td>List all admins</td>
                                <td>!rcon admins</td>
                            </tr>
                            <tr>
                                <td>bans</td>
                                <td>List all bans</td>
                                <td>!rcon bans</td>
                            </tr>
                            <tr>
                                <td>load scripts</td>
                                <td>Reloads al BE scripts</td>
                                <td>!rcon load scripts</td>
                            </tr>
                            <tr>
                                <td>load events</td>
                                <td>Reloads al BE events</td>
                                <td>!rcon load events</td>
                            </tr>
                            <tr>
                                <td>say all [text]</td>
                                <td>Sends text to all users</td>
                                <td>!rcon say all Hello everyone!</td>
                            </tr>
                            <tr>
                                <td>say [playerId] [text]</td>
                                <td>Sends text to specific user</td>
                                <td>!rcon say 1 Hello Zupa, stalk, stalk</td>
                            </tr>
                            <tr>
                                <td>MaxPing [ping]</td>
                                <td>Sets the maxping of the server</td>
                                <td>!rcon MaxPing 200</td>
                            </tr>
                            <tr>
                                <td>kick [playerId] [reason]</td>
                                <td>Kicks player</td>
                                <td>!rcon kick 1 No racisme allowed, warned!</td>
                            </tr>
                            <tr>
                                <td>ban [playerId] [minutes] [reason]</td>
                                <td>Bans ONLINE player (0 minutes is forever!)</td>
                                <td>!rcon ban 1 60 No racisme allowed, 60 minuts banned!</td>
                            </tr>
                            <tr>
                                <td>addBan [GUID|IP] [minutes] [reason]]</td>
                                <td>Bans any player (0 minutes is forever!)</td>
                                <td>!rcon addBan 127.0.0.1 0 Caught duping in logs -> Forum</td>
                            </tr>
                            <tr>
                                <td>removeBan [banId]</td>
                                <td>Remove ban (Get ID from banslist)</td>
                                <td>!rcon removeBan 2</td>
                            </tr>
                            <tr>
                                <td>version</td>
                                <td>Display the BattlEye version</td>
                                <td>!rcon version</td>
                            </tr>
                            <tr>
                                <td>update</td>
                                <td>Check for a newer BattlEye version</td>
                                <td>!rcon update</td>
                            </tr>
                            <tr>
                                <td>loadBans</td>
                                <td>Reload Bans from bans.txt</td>
                                <td>!rcon loadBans</td>
                            </tr>
                            <tr>
                                <td>writeBans</td>
                                <td>Rewrite Bans to bans.txt</td>
                                <td>!rcon writeBans</td>
                            </tr>
                            <tr>
                                <td>disconnect</td>
                                <td>Disconnects the rcon</td>
                                <td>!rcon disconnect</td>
                            </tr>
                            <tr>
                                <td>exit</td>
                                <td>Exits the whole rcon client</td>
                                <td>!rcon exit</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="card z-depth-0">
                    <div class="card-content black-text">
                        <span class="card-title">Server commands</span>
                        <blockquote>
                            These commands are prefixed with !rcon and are only usable in the defined command channel for your rcon instance. They are known to have the # symbol in front of them. If i forgot any, these are not checked but sent directly to the server, so anything could work.
                        </blockquote>
                        <table class="bordered responsive-table highlight">
                            <thead>
                            <tr>
                                <th>Command</th>
                                <th>Description</th>
                                <th>Example</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>#shutdown</td>
                                <td>Shutdown the GAME server</td>
                                <td>!rcon #shutdown</td>
                            </tr>
                            <tr>
                                <td>#lock</td>
                                <td>Locks the GAME server</td>
                                <td>!rcon #lock</td>
                            </tr>
                                                        <tr>
                                <td>#unlock</td>
                                <td>Unlocks the GAME server</td>
                                <td>!rcon #unlock</td>
                            </tr>
                            <tr>
                                <td>#missions</td>
                                <td>Stops current missions and goes to mission list</td>
                                <td>!rcon #missions</td>
                            </tr>
                            <tr>
                                <td>#reassign</td>
                                <td>Moves all players back into the lobby</td>
                                <td>!rcon #reassign</td>
                            </tr>
                            <tr>
                                <td>#userlist</td>
                                <td>Displays the list of users on the server</td>
                                <td>!rcon #userlist</td>
                            </tr>
                            <tr>
                                <td>#kick [serverPlayerId]</td>
                                <td>Kicks an online player</td>
                                <td>!rcon #kick 1</td>
                            </tr>
                            <tr>
                                <td>#exec ban [serverPlayerId]</td>
                                <td>Bans an online player</td>
                                <td>!rcon #exec ban 1</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>


        </div>

        {#<div class="row push-0-b">#}


        {#<div class="col s12 m6">#}
        {#<ul class="collection with-header cyan">#}
        {#<li class="collection-header cyan white-text"><h4>Features</h4></li>#}
        {#<li class="collection-item">Display local, vehicle, global, side & red chat in separate or shared discord channels. Use Discord channel settings to secure them for the general public.</li>#}
        {#<li class="collection-item">Chats are displayed in their original colors.</li>#}
        {#<li class="collection-item">Players can activate commands with their chats to get feedback ingame or warn a administrator or players on Discord.</li>#}
        {#<li class="collection-item">Setup automated message which the bot displays in your game server.</li>#}
        {#<li class="collection-item">Use rcon functionality through discord chat commands. ( eg: Chat, Ban, Kick, List players, ... )</li>#}
        {#</ul>#}
        {#</div>#}

        {#<div class="col s12 m6">#}
        {#<ul class="collection with-header cyan ">#}
        {#<li class="collection-header cyan white-text"><h4>Tested games</h4></li>#}
        {#<li class="collection-item avatar">#}
        {#<img src="{{ asset('assets/images/arma2.jpg') }}" alt="" class="circle">#}
        {#<span class="title">Arma 2</span>#}
        {#</li>#}
        {#<li class="collection-item avatar">#}
        {#<img src="{{ asset('assets/images/arma3.jpg') }}" alt="" class="circle">#}
        {#<span class="title">Arma 3</span>#}
        {#</li>#}
        {#</ul>#}
        {#<a class="waves-effect waves-light btn-large cyan"><i class="material-icons left">info</i>Full list of commands</a>#}
        {#</div>#}





        {#</div>#}

    </div>




{% endblock %}
