{% extends '::base.html.twig' %}

{% block indexing %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block body %}
    <div class="content bg-image overflow-hidden" style="background-image: url('{{ asset('assets/images/mp-10.png') }}');">
        <div class="black-overlay"></div>
        <div class="push-50-t push-15">
            <h2 class="h2 white-text animated zoomIn">{{ activeGuild.name }}</h2>
            <h5 class="h5 text-white-op animated zoomIn">BattlEye Rcon - Discord Bot - ZBot By Zupa</h5>
        </div>
    </div>

    <div class="card z-depth-0 push-0-t cyan lighten-1">
        <form id="guild-form" name="guild-form" action="{{ path('discord-servers', {'guildId': guild.__get('id')}) }}" method="post">
        <div class="card-content white">
            <p>To reload the config for your server into the bot, type in any channel of your server:  !zbot reload</p>
            <p style="align-content: center">
                <button type="submit" name="submit"
                        class="btn waves-effect waves-light zupa-btn save-btn cyan"><i class="material-icons left">save</i>Save</button>
                <a href="{{ path('servers') }}" class="btn waves-effect waves-light zupa-btn save-btn red darken-3 right"><i class="material-icons left">backspace</i>Back</a>

            </p>
        </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width tabs-transparent">
                    <li class="tab"><a href="#general">General</a></li>
                    <li class="tab"><a href="#permissions">Permissions</a></li>
                    <li class="tab"><a href="#actions">Global actions</a></li>
                    <li class="tab"><a href="#instances">RCON Instances</a></li>
                    <li class="indicator"></li></ul>
            </div>
            {% if saved %}
                <div class="js-saved"></div>
            {% endif %}

            <div class="card-content grey lighten-2">
                <div id="general" >
                    <div class="card white push-0-t">
                        <div class="card-content black-text">
                            <span class="card-title">BattlEye RCON</span>
                            <div class="switch">
                                <label>
                                    Off
                                    <input {%  if server.bercon.enabled == "on" %}checked{% endif %} type="checkbox" name="enabled">
                                    <span class="lever"></span>
                                    On ( Active )
                                </label>

                                <p>
                                    When changed, a reload is needed in ZBot!
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="permissions" >
                    <div class="card white push-0-t">
                        <div class="card-content black-text">
                            <span class="card-title">Permissions</span>
                            <p class="push-10-b">
                                Provide the discord role needed to be able to use the following rcon commands in the command channel.
                            </p>
                            <div class="row row-margin">
                                <div class="col s12 m6 l4">
                                    <div class="input-field inline">
                                        <input id="players" name="permissions[players]" type="text" class="validate" value="{{ server.bercon.permissions['players'] }}">
                                        <label for="players">!rcon players</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="admins" name="permissions[admins]" type="text" class="validate" value="{{ server.bercon.permissions.admins }}">
                                        <label for="admins" >!rcon admins</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="bans" name="permissions[bans]" type="text" class="validate" value="{{ server.bercon.permissions.bans }}">
                                        <label for="bans" >!rcon bans</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="loadScripts" name="permissions[loadScripts]" type="text" class="validate" value="{{ server.bercon.permissions.loadScripts }}">
                                        <label for="loadScripts" >!rcon loadScripts</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="loadEvents" name="permissions[loadEvents]" type="text" class="validate" value="{{ server.bercon.permissions.loadEvents }}">
                                        <label for="loadEvents" >!rcon loadEvents</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="say" name="permissions[say]" type="text" class="validate" value="{{ server.bercon.permissions.say }}">
                                        <label for="say" >!rcon say</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="missions" name="permissions[missions]" type="text" class="validate" value="{{ server.bercon.permissions.missions }}">
                                        <label for="missions" >!rcon missions</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="version" name="permissions[version]" type="text" class="validate" value="{{ server.bercon.permissions.version }}">
                                        <label for="version" >!rcon version</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="update" name="permissions[update]" type="text" class="validate" value="{{ server.bercon.permissions.update }}">
                                        <label for="update" >!rcon update</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="loadBans" name="permissions[loadBans]" type="text" class="validate" value="{{ server.bercon.permissions.loadBans }}">
                                        <label for="loadBans" >!rcon loadBans</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="writeBans" name="permissions[writeBans]" type="text" class="validate" value="{{ server.bercon.permissions.writeBans }}">
                                        <label for="writeBans" >!rcon writeBans</label>
                                    </div>
                                </div>

                                <div class="col s12 m6 l4">
                                    <div class="input-field inline">
                                        <input id="removeBan" name="permissions[removeBan]" type="text" class="validate" value="{{ server.bercon.permissions.removeBan }}">
                                        <label for="removeBan" >!rcon removeBan</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="ban" name="permissions[ban]" type="text" class="validate" value="{{ server.bercon.permissions.ban }}">
                                        <label for="ban" >!rcon ban</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="addBan" name="permissions[addBan]" type="text" class="validate" value="{{ server.bercon.permissions.addBan }}">
                                        <label for="addBan" >!rcon addBan</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">

                                    <div class="input-field inline">
                                        <input id="MaxPing" name="permissions[MaxPing]" type="text" class="validate" value="{{ server.bercon.permissions.MaxPing }}">
                                        <label for="MaxPing" >!rcon MaxPing</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">
                                    <div class="input-field inline">
                                        <input id="kick" name="permissions[kick]" type="text" class="validate" value="{{ server.bercon.permissions.kick }}">
                                        <label for="kick" >!rcon kick</label>
                                    </div>
                                </div>

                                <div class="col s12 m6 l4">
                                    <div class="input-field inline">
                                        <input id="disconnect" name="permissions[disconnect]" type="text" class="validate" value="{% if server.bercon.permissions.disconnect is defined %}{{ server.bercon.permissions.disconnect }}{% endif %}">
                                        <label for="disconnect" >!rcon disconnect</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 l4">
                                    <div class="input-field inline">
                                        <input id="exit" name="permissions[exit]" type="text" class="validate" value="{% if server.bercon.permissions.exit is defined %}{{ server.bercon.permissions.exit }}{% endif %}">
                                        <label for="exit" >!rcon exit</label>
                                    </div>
                                </div>

                                <div class="col s12 m6 l4">
                                    <div class="input-field inline">
                                        <input id="serverCommands" name="permissions[serverCommands]" type="text" class="validate" value="{{ server.bercon.permissions.serverCommands }}">
                                        <label for="serverCommands" >!rcon serverCommands</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="actions" style="" >
                    <div class="card white push-0-b">
                        <div class="card-content black-text">
                            <span class="card-title">Shared Actions</span>
                            <p>
                                Actions that players can use in chat to activate commands. Command needs to be filled in. Other 3 fields are optional.<br/>Example:
                            </p>

                            <blockquote>
                                !teamspeak<br/>Our ts is xx.xx.xx.xx<br/>Someone asked for ts ingame<br/>rcon-admin
                            </blockquote>
                            <div class="row">
                                <div class="col s12 actionParent">
                                    {% for action in server.bercon.sharedActions %}
                                        <div class="action grey lighten-5 col s12 m6 l4">
                                            <div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <input id="command{{ loop.index0 }}" name="command{{ loop.index0 }}" type="text" class="validate" value="{{ action.command }}">
                                                        <label for="command{{ loop.index0 }}" >Command</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <input id="reply{{ loop.index0 }}" name="reply{{ loop.index0 }}" type="text" class="validate" value="{{ action.reply }}">
                                                        <label for="reply{{ loop.index0 }}" >Reply Chat</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <input id="discordReply{{ loop.index0 }}" name="discordReply{{ loop.index0 }}" type="text" class="validate" value="{{ action.discordReply }}">
                                                        <label for="discordReply{{ loop.index0 }}" >Reply Discord</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <input id="role{{ loop.index0 }}" name="role{{ loop.index0 }}" type="text" class="validate" value="{{ action.role }}">
                                                        <label for="role{{ loop.index0 }}" >Discord role to mention</label>
                                                    </div>
                                                    <div class="col s12">
                                                        <a  href="#" class="btn-floating btn-large blue js-clone push-10-r">
                                                            <i class="large material-icons">content_copy</i>
                                                        </a>
                                                        <a  href="#" class="btn-floating btn-large red js-remove">
                                                            <i class="large material-icons">delete</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="instances" style="" >
                    <div class="card white push-0-b">
                        <div class="card-content black-text">
                            <span class="card-title">BE RCON Servers</span>
                            <p>
                                Always save your changes before editing/creating a rcon instance.
                            </p>
                            <ul class="rcon-list">
                                {% for bercon in server.bercon.servers %}
                                    {% if not bercon.deleted %}
                                    <li>
                                        <a href="{{ path('bercon_form', { 'guildId': guild.__get('id') , 'berconId' : bercon.id }) }}" class="btn-floating btn-large green push-10-r">
                                            <i class="large material-icons">mode_edit</i>
                                        </a>
                                        <span>{{ bercon.name }}</span>
                                        <a href="{{ path('bercon_form_delete', { 'guildId': guild.__get('id') , 'berconId' : bercon.id }) }}" class="btn-floating btn-large red js-delete-server push-10-l">
                                            <i class="large material-icons">delete</i>
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <a href="{{ path('bercon_form', { 'guildId': guild.__get('id') , 'berconId' : 'new' }) }}" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>




{% endblock %}
