{% extends '::base.html.twig' %}

{% block indexing %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block body %}
    <div class="content bg-image overflow-hidden" style="background-image: url('{{ asset('assets/images/mp-10.png') }}');">
        <div class="black-overlay"></div>
        <div class="push-50-t push-15">
            <h2 class="h2 white-text animated zoomIn">ZBot</h2>
            <h5 class="h5 text-white-op animated zoomIn">BattlEye Rcon - Discord Bot - By Zupa</h5>
        </div>
    </div>

    <div class="intro-page">
        <p>
            A discord bot that connects to your Discord & your BattlEye Rcon server to provide you with in-game chat in Discord channels. Execute commands trough Discord chat to easy manage your BattlEye game server.
            Find a full feature list at the bottom.
        </p>
    </div>

    <div class="content-wrapper">
        <div class="row push-0-b">

            <div class="col s12 m6 l4">
                <div class="card z-depth-0">
                    <div class="card-image">
                        <img src="{{ asset('assets/images/discord_login_global.png') }}">
                        <span class="card-title">ZBot Discord</span>
                        <a href="https://discord.gg/WYbeSKR" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light cyan"><i class="material-icons">send</i></a>
                    </div>
                    <div class="card-content">
                        <p>Join the discussion or ask a question. The ZBOT discord server is the place 2 be. Lets make ZBot together!</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card z-depth-0">
                    <div class="card-image">
                        <img src="{{ asset('assets/images/discord-zupa_2.png') }}">
                        <span class="card-title">Invite bot</span>
                        <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=256162454956933120&scope=bot&permissions=66321471"
                           class="btn-floating btn-large halfway-fab waves-effect waves-light cyan"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Invite the bot to your Discord Server. This is needed for the bot to interact with your Discord Server.</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card z-depth-0">
                    <div class="card-image">
                        <img src="{{ asset('assets/images/discord_login.png') }}">
                        <span class="card-title">Get Started !</span>
                        <a href="{{ path('servers') }}" class="btn-floating btn-large halfway-fab waves-effect waves-light cyan pulse"><i class="material-icons">play_circle_outline</i></a>
                    </div>
                    <div class="card-content">
                        <p>Head over to the server page and start adding RCON's to your Discord server! Only possible if you are Admin.</p>
                    </div>
                </div>
            </div>








        </div>

        <div class="row push-0-b">


                <div class="col s12 m6">
                        <ul class="collection with-header cyan">
                            <li class="collection-header cyan white-text"><h4>Features</h4></li>
                            <li class="collection-item">Display local, vehicle, global, side & red chat in separate or shared discord channels. Use Discord channel settings to secure them for the general public.</li>
                            <li class="collection-item">Chats are displayed in their original colors.</li>
                            <li class="collection-item">Players can activate commands with their chats to get feedback ingame or warn a administrator or players on Discord.</li>
                            <li class="collection-item">Setup automated message which the bot displays in your game server.</li>
                            <li class="collection-item">Use rcon functionality through discord chat commands. ( eg: Chat, Ban, Kick, List players, ... )</li>
                        </ul>
                </div>

            <div class="col s12 m6">
                <ul class="collection with-header cyan ">
                    <li class="collection-header cyan white-text"><h4>Tested games</h4></li>
                    <li class="collection-item avatar">
                        <img src="{{ asset('assets/images/arma2.jpg') }}" alt="" class="circle">
                        <span class="title">Arma 2</span>
                    </li>
                    <li class="collection-item avatar">
                        <img src="{{ asset('assets/images/arma3.jpg') }}" alt="" class="circle">
                        <span class="title">Arma 3</span>
                    </li>
                </ul>
                <a class="waves-effect waves-light btn-large cyan" href="{{ path('commands') }}"><i class="material-icons left">info</i>Full list of commands</a>
            </div>





        </div>

    </div>




{% endblock %}
