{% extends '::base.html.twig' %}
{% form_theme form _self %}
{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('submit') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain)|raw }}</button>
{%- endblock button_widget -%}

{% block pageTypeClass %}
    js-pastry
{% endblock %}

{% block body %}
    <div class="content bg-image overflow-hidden" style="background-image: url('{{ asset('assets/images/koffiekoeken.jpg') }}');">
        <div class="black-overlay"></div>
        <div class="push-50-t push-15">
            <h2 class="h2 white-text animated zoomIn">Pastries</h2>
            <h5 class="h5 text-white-op animated zoomIn">Every friday!</h5>
        </div>
    </div>
<div class="row">
    <div class="col s12">
        <div class="content-wrapper top closer-blocks">
            <div class="row">
                <div class="col s12">
                    <div class="block">
                        <div class="block-header blue darken-1 white-text">
                            <h3 class="block-title">Join the fun</h3>
                        </div>
                        <div class="block-content">

                            <p class="alert alert-warning push-20-b">
                                Please take this form seriously. Only Tobania mails are allowed.
                            </p>

                            {{ form_start(form, { 'action': path('new-pastry'), 'attr': { 'class': 'clearfix js-new-tobanian' } }) }}
                            <div class="col s12">
                            {{ form_errors(form) }}
                            </div>
                            <div class="col s6">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                                {{ form_label(form.initials) }}
                                {{ form_widget(form.initials) }}
                                {{ form_label(form.mail) }}
                                {{ form_widget(form.mail) }}
                            </div>

                            <div class="col s6">
                                {{ form_label(form.department) }}
                                {{ form_widget(form.department) }}
                                {{ form_label(form.tel) }}
                                {{ form_widget(form.tel) }}
                                {{ form_label(form.job) }}
                                {{ form_widget(form.job) }}
                            </div>

                            <div class="col s12">
                            {{ form_widget(form.submit) }}
                                <p></p>
                            </div>



                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
