{% extends '::base.html.twig' %}

{% block pageTypeClass %}
    js-pastry
{% endblock %}

{% block body %}
    <div class="content bg-image overflow-hidden" style="background-image: url('{{ asset('assets/images/koffiekoeken.jpg') }}');">
        <div class="black-overlay"></div>
        <div class="push-50-t push-15">
            <h2 class="h2 white-text animated zoomIn">Pastries</h2>
            <h5 class="h5 text-white-op animated zoomIn">Every friday!</h5>
        </div>
    </div>


    <div class="row">
        <ul class="tabs blue-grey darken-3 z-depth-1" id="tabs-swipable">
            <li class="tab col s6"><a href="#next">Up Next</a></li>
            <li class="tab col s6"><a href="#general">Order</a></li>
        </ul>

        <div id="next" class="col s12">
            <div class="content-wrapper top closer-blocks">
                <div class="row">
                    <div class="col s12">
                        {% include 'ClasticBackofficeBundle:FlashMessage:render.html.twig' %}
                    </div>
                    <div class="col s12 js-pastry-sign-up" style="display: none;">
                        <div class="block">
                            <div class="block-header teal">
                                <h3 class="block-title white-text">Join the fun</h3>
                            </div>
                            <div class="flex-row no-margin white">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="block-content">
                                        <p>Join us now for the pastry friday weekly addiction. With a single click & a small form you get the right to eat a full cycle of pastry for free. You will be added at the end of the queue to deliver some delicious pastry.</p>
                                        <p class="clearfix">
                                            <a class="waves-effect waves-light btn btn-large left push-20-r push-20-b" href="{{ path('new-pastry') }}"><i class="material-icons left">&#xE7FE;</i>Join</a>
                                            <a class="waves-effect waves-light btn red darken-2 btn-large left js-hide-pastry-sign-up push-20-r push-20-b" href="#"><i class="material-icons left">&#xE5CD;</i>Hide</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 no-padding">
                                    <div id="gmap" class="js-gmap google-map full-height"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="block">
                            <div class="block-header">
                                <h3 class="block-title text-center">Pastry Deliverer</h3>
                            </div>
                            <div class="block-content block-content-full text-center bg-image" style="background-image: url('{{ asset('assets/images/koeken.jpg') }}');">
                                <div class="black-overlay"></div>
                                <div class="text-center center-align white-text">
                                    {#<img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/img/avatars/avatar1.jpg" alt="">#}
                                    <div class="img-avatar-default valign-wrapper center-align teal"><div class="valign center-align">{{ upnextParticipants[0].initials }}</div>
                                    </div>
                                    <div class="h5 text-white push-15-t push-5">{{ upnextParticipants[0].name }}</div>
                                    <div class="h5 text-white-op">{{ upnextParticipants[0].department }}</div>
                                </div>
                            </div>
                            {#<div class="block-content">#}
                            {#<div class="row items-push text-center">#}
                            {#<div class="col-xs-6">#}
                            {#<div class="push-5"><i class="si si-briefcase fa-2x"></i></div>#}
                            {#<div class="h5 font-w300 text-muted">9 Projects</div>#}
                            {#</div>#}
                            {#<div class="col-xs-6">#}
                            {#<div class="push-5"><i class="si si-camera fa-2x"></i></div>#}
                            {#<div class="h5 font-w300 text-muted">74 Photos</div>#}
                            {#</div>#}
                            {#</div>#}
                            {#</div>#}
                        </div>
                        <div class="block ">
                            <table class="block-table">
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="push-30 push-30-t">
                                            <i class="material-icons  cyan-text">&#xE916;</i>
                                        </div>
                                    </td>
                                    <td class="bg-gray-lighter" style="width: 50%;">
                                        <div class="h1 font-w700">{{ events[0].start }}</div>
                                        <div class="h5 text-muted text-uppercase push-5-t">Date</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="block">
                            <table class="block-table">
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="push-30 push-30-t">
                                            <i class="material-icons deep-purple-text">&#xE561;</i>
                                        </div>
                                    </td>
                                    <td class="bg-gray-lighter" style="width: 50%;">
                                        <div class="h1 font-w700">{{ totalEating }}</div>
                                        <div class="h5 text-muted text-uppercase push-5-t">Eating</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="block">
                            <table class="block-table">
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="push-30 push-30-t">
                                            <i class="material-icons teal-text">&#xE8B2;</i>
                                        </div>
                                    </td>
                                    <td class="bg-gray-lighter" style="width: 50%;">
                                        <div class="h1 font-w700">{{ totalQuestionEating }}</div>
                                        <div class="h5 text-muted text-uppercase push-5-t">Not responded</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="block">
                            <table class="block-table">
                                <tr>
                                    <td style="width: 50%;">
                                        <div class="push-30 push-30-t">
                                            <i class="material-icons red-text">&#xE5CD;</i>
                                        </div>
                                    </td>
                                    <td class="bg-gray-lighter" style="width: 50%;">
                                        <div class="h1 font-w700">{{ totalDeclinedEating }}</div>
                                        <div class="h5 text-muted text-uppercase push-5-t">Absent</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col s12 m6 l8">
                        <div class="block">
                            <div class="block-header teal white-text">
                                <div class="block-options-simple">
                                    <span class="chip white black-text">{{ attending|length }}</span>
                                </div>
                                <h3 class="block-title">Attending data</h3>
                            </div>
                            <div class="block-content">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px;">Initials</th>
                                        <th class="hide-on-med-and-down">Name</th>
                                        <th class="hide-on-med-and-down">Mail</th>
                                        <th style="width: 15%;">Eating</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for attend in attending %}
                                        <tr>
                                            <td class="text-center">{{ attend.participant.initials }}</td>
                                            <td class="hide-on-med-and-down">{{ attend.participant.name }}</td>
                                            <td class="hide-on-med-and-down"><a href="mailto:{{ attend.participant.mail }}">{{ attend.participant.mail }}</a></td>
                                            <td>
                                                {% if attend.eating is null  %}
                                                    <span class="chip blue white-text">Unknown</span>
                                                {% elseif attend.eating %}
                                                    <span class="chip teal white-text">Yes</span>
                                                {% else %}
                                                    <span class="chip red white-text">No</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="general" class="col s12">
            <div class="content-wrapper top">
                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="z-depth-1 block block-rounded">
                            <div class="block-header teal">
                                <h3 class="block-title white-text">Original order</h3>
                            </div>
                            <div class="block-content">
                                <ul class="list list-simple list-li-clearfix">
                                    {% for user in originalParticipants %}
                                        <li>
                                            <a class="item item-rounded pull-left push-10-r bg-info teal white-text" href="javascript:void(0)">{{ user.initials }}</a>
                                            <h5 class="push-10-t">{{ user.name }}</h5>
                                            <div class="font-s13">{{ user.department }}</div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l8">
                        <div class="z-depth-1 block block-rounded">
                            <div class="block-header teal">
                                <h3 class="block-title white-text">Up next order</h3>
                            </div>
                            <div class="block-content">
                                <ul class="list list-timeline pull-t">
                                    {% for user in upnextParticipants %}
                                        <li>
                                            <div class="list-timeline-time">{{ events[loop.index0].start }}</div>
                                            {% if events[loop.index0].className == 'normal' %}
                                                <i class="material-icons list-timeline-icon teal white-text">&#xE5C8;</i>
                                            {% elseif 'now' in events[loop.index0].className  %}
                                                <i class="material-icons list-timeline-icon blue white-text">&#xE5C8;</i>
                                            {% elseif events[loop.index0].className == 'advanced' %}
                                                <i class="material-icons list-timeline-icon deep-purple white-text">&#xE5D8;</i>
                                            {% else  %}
                                                <i class="material-icons list-timeline-icon red white-text">&#xE5DB;</i>
                                            {% endif %}
                                            <div class="list-timeline-content">
                                                <h5>{{ user.name }}</h5>
                                                <p class="font-s13">{{ events[loop.index0].className }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col s12">
                        <div class="z-depth-1 block">
                            <div class="block-header teal">
                                <h3 class="block-title white-text">Calendar</h3>
                            </div>
                            <div class="block-content">
                                <div class='calendar' data-events="{{ events|json_encode() }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% if attendingAnswer %}
        <div id="modal-pastry" class="modal" data-toast="{{ attendingAnswer }}">
            <div class="modal-content">
                <h4>Pastry participation</h4>
                {% if attendingAnswer == 'no' %}
                    <p>Thank you for your answer. Too bad you can't be with us :(</p>
                {% elseif attendingAnswer == 'yes' %}
                    <p>Thank you for your answer. Bring your appetite!</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        {% endif %}

    </div>


{% endblock %}
