{% extends '::base.html.twig' %}

{% block body %}
    <div class="content bg-image overflow-hidden" style="background-image: url('{{ asset('assets/images/pizza.jpg') }}');">
        <div class="black-overlay"></div>
        <div class="push-50-t push-15">
            <h2 class="h2 white-text animated zoomIn">Pizza</h2>
            <h5 class="h5 text-white-op animated zoomIn">Every first friday of the month!</h5>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="row">
            {% if nextPizzaEvent is not null%}

                <div class="col s12 m6 l4">
                    <div class="block" >
                        <div class="block-header">
                            <h3 class="block-title text-center">Pizza Friday</h3>
                        </div>
                        <div class="block-content block-content-full text-center bg-image" style="background-image: url('{{ asset('assets/images/pizza2.jpg') }}');">
                            <div class="black-overlay"></div>
                            <div class="text-center center-align white-text">
                                {#<img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/img/avatars/avatar1.jpg" alt="">#}
                                <div class="img-avatar-default valign-wrapper center-align teal"><div class="valign center-align">{{ nextPizzaEvent.date|date('j') }}</div>
                                </div>
                                <div class="h5 text-white-op push-15-t push-5">{{ nextPizzaEvent.date|date('F') }}</div>
                            </div>
                        </div>
                        <table class="block-table">
                            <tr>
                                <td style="width: 50%;">
                                    <div class="push-30 push-30-t">
                                        <i class="material-icons  cyan-text">&#xE552;</i>
                                    </div>
                                </td>
                                <td class="bg-gray-lighter" style="width: 50%;">
                                    <div class="h1 font-w700">{{ entries|length }}</div>
                                    <div class="h5 text-muted text-uppercase push-5-t">Eating</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    {#<div class="block ">#}
                        {#<table class="block-table">#}
                            {#<tr>#}
                                {#<td style="width: 50%;">#}
                                    {#<div class="push-30 push-30-t">#}
                                        {#<i class="material-icons  cyan-text">&#xE916;</i>#}
                                    {#</div>#}
                                {#</td>#}
                                {#<td class="bg-gray-lighter" style="width: 50%;">#}
                                    {#<div class="h1 font-w700">{{ events[0].start }}</div>#}
                                    {#<div class="h5 text-muted text-uppercase push-5-t">Date</div>#}
                                {#</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</div>#}
                    {#<div class="block">#}
                        {#<table class="block-table">#}
                            {#<tr>#}
                                {#<td style="width: 50%;">#}
                                    {#<div class="push-30 push-30-t">#}
                                        {#<i class="material-icons deep-purple-text">&#xE561;</i>#}
                                    {#</div>#}
                                {#</td>#}
                                {#<td class="bg-gray-lighter" style="width: 50%;">#}
                                    {#<div class="h1 font-w700">{{ totalEating }}</div>#}
                                    {#<div class="h5 text-muted text-uppercase push-5-t">Eating</div>#}
                                {#</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</div>#}
                    {#<div class="block">#}
                        {#<table class="block-table">#}
                            {#<tr>#}
                                {#<td style="width: 50%;">#}
                                    {#<div class="push-30 push-30-t">#}
                                        {#<i class="material-icons teal-text">&#xE8B2;</i>#}
                                    {#</div>#}
                                {#</td>#}
                                {#<td class="bg-gray-lighter" style="width: 50%;">#}
                                    {#<div class="h1 font-w700">{{ totalQuestionEating }}</div>#}
                                    {#<div class="h5 text-muted text-uppercase push-5-t">Not responded</div>#}
                                {#</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</div>#}
                    {#<div class="block">#}
                        {#<table class="block-table">#}
                            {#<tr>#}
                                {#<td style="width: 50%;">#}
                                    {#<div class="push-30 push-30-t">#}
                                        {#<i class="material-icons red-text">&#xE5CD;</i>#}
                                    {#</div>#}
                                {#</td>#}
                                {#<td class="bg-gray-lighter" style="width: 50%;">#}
                                    {#<div class="h1 font-w700">{{ totalDeclinedEating }}</div>#}
                                    {#<div class="h5 text-muted text-uppercase push-5-t">Absent</div>#}
                                {#</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</div>#}

                </div>
                <div class="col s12 m6 l8">
                    <div class="block">
                        <div class="block-header teal white-text">
                            <div class="block-options-simple">
                                <span class="chip white black-text">{{ entries|length }}</span>
                            </div>
                            <h3 class="block-title">Pizza Entries</h3>
                        </div>
                        <div class="block-content">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th class="hide-on-med-and-down">Food</th>
                                    <th class="hide-on-med-and-down">Mail</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entry in entries %}
                                    <tr>
                                        <td class="">{{ entry.name }}</td>
                                        <td class="hide-on-med-and-down"><a href="mailto:{{ entry.mail }}">{{ entry.mail }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            {% endif %}
        </div>


    </div>
{% endblock %}
