{% extends '::base.html.twig' %}

{% block indexing %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block body %}
    <div class="content bg-image overflow-hidden" style="background-image: url('{{ asset('assets/images/mp-10.png') }}');">
        <div class="black-overlay"></div>
        <div class="push-50-t push-15">
            <h2 class="h2 white-text animated zoomIn">Your Discord servers</h2>
            <h5 class="h5 text-white-op animated zoomIn">BattlEye Rcon - Discord Bot - ZBot By Zupa</h5>
        </div>
    </div>

    <div class="intro-page">
        <p>
            Please select the Discord server you would like to configurate. This will be the active server until you pick another one. Did you know that Discord calls them Guilds?
        </p>
    </div>

    <div class="content-wrapper">
        <div class="row push-0-b">


                {% if guilds is defined and guilds|length > 0 %}
                    {% for guild in guilds %}
                    <div class="col s12 m6 l4">
                    <a href="{{ path('discord-servers', { 'guildId': guild.__get('id') }) }}" class="guild-server">
                        <div class="card-panel z-depth-1 {% if guild.__get('id') == activeGuild.id %} cyan {% endif %}">
                            <div class="row valign-wrapper push-0-b">
                                <div class="col s4">
                                    <img src="https://cdn.discordapp.com/icons/{{ guild.__get('id') }}/{{ guild.__get('icon') }}.jpg" alt="{{ guild.__get('name') }}" class="circle responsive-img"> <!-- notice the "circle" class -->
                                </div>
                                <div class="col s8">
                                  <span>
                                    {{ guild.__get('name') }}
                                  </span>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>

                    {% endfor %}
                {% else %}
            <div class="card-panel red darken-1">
                    You do not own any server on discord. If this is incorrect, refresh the page.
            </div>
                {% endif %}



        </div>


    </div>




{% endblock %}
