{% extends '::base.html.twig' %}

{% block body %}
    <div class="content bg-image overflow-hidden" style="background-image: url('{{ asset('assets/images/corda.jpg') }}');">
        <div class="black-overlay"></div>
        <div class="push-50-t push-15">
            <h2 class="h2 white-text animated zoomIn">Participants</h2>
            <h5 class="h5 text-white-op animated zoomIn">Only pastrie users subscribed by the admin!</h5>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="flex-row">
            {% for user in participants %}
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="block-container">
                        <div class="z-depth-1 block block-rounded">
                            <div class="block-header">
                                <div class="block-title">{{ user.name }}</div>
                            </div>
                            <div class="block-img block-content block-content-full teal white-text center-align">
                                {#<img class="img-avatar img-avatar-thumb" src="assets/img/avatars/avatar9.jpg" alt="">#}
                                <div class="img-avatar-default valign-wrapper center-align"><div class="valign center-align">{{ user.initials }}</div></div>
                            </div>
                            <div class="block-content">
                                <table class="table table-borderless table-striped font-s13 table-user">
                                    {% if user.department %}
                                        <tr>
                                            <td><i class="material-icons">&#xE7EF;</i></td>
                                            <td>{{ user.department }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if user.job %}
                                        <tr>
                                            <td><i class="material-icons">&#xE8F9;</i></td>
                                            <td>{{ user.job }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if user.tel %}
                                        <tr>
                                            <td><i class="material-icons">&#xE0CD;</i></td>
                                            <td>{{ user.tel }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td><i class="material-icons">&#xE0BE;</i></td>
                                        <td><a href="mailto:{{ user.mail }}">{{ user.mail }}</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


