body {
  font-family: $base-font-family;
  background-color: $body-bg;
  overflow-y:scroll;
  min-height: 100%;
  height: 100%;
}

html {
  min-height: 100%;
  height: 100%;
}

.body-wrapper {
  position: relative;
  min-height: 100%;
}

.section {
  display: block;
  width: 100%;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0;
}

.main-body {
  padding-left: 230px;
  transition: all .28s ease-out;
  &.sidebar-mini {
    padding-left: 65px;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
  font-family: $headings-font-family;
}

h2 {
  font-size: 30px;
}

h5 {
  font-size: 16px;
}

.content-wrapper {
  padding: 22.5px 15px;
  &.top {
    padding: 22.5px 0px;
  }
}