.font-header {
  font-family: $headings-font-family;
}

.font-base {
  font-family: $base-font-family;
}

.primary {
  background-color: $primary-color;
}


.primary-text {
  color: $primary-color;
}

.italic {
  font-style: italic;
}


.section-50 {
  padding: 50px 0;
}

.section-sm-90 {
  padding: 90px 0;
}

.section-lg-120 {
  padding: 120px 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.push-50-t {
  margin-top: 50px !important;
}

.push-15 {
  margin-bottom: 15px !important;
}

.push-10-r {
  margin-right: 10px !important;
}

.push-10-t {
  margin-top: 10px !important;
}

.push-30 {
  margin-bottom: 30px !important;
}

.push-30-t {
  margin-top: 30px !important;
}

.text-white-op {
  color: rgba(255,255,255,0.85);
}

.shadow-hover {
  transition: all 500ms ease;
  &:hover,
  &:focus {
    @extend .z-depth-2;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@for $i from 1 through 20 {
  .font-s#{$i} {
    font-size: #{$i}px;
  }
}

$directions: 'r', 'l', 't', 'b';
$margins: 0, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;

@each $direction in $directions {
  @each $j in $margins {
    .push-#{$j}-#{$direction} {
      @if($direction == 'r') {
        margin-right: #{$j}px !important;
      }
      @if($direction == 'l') {
        margin-left: #{$j}px !important;
      }
      @if($direction == 't') {
        margin-top: #{$j}px !important;
      }
      @if($direction == 'b') {
        margin-bottom: #{$j}px !important;
      }
    }
    @if($direction == 'b') {
      .push-#{$j} {
        margin-bottom: #{$j}px !important;
      }
    }
  }
}

.row.row-margin {
  margin-left: -15px;
  margin-right: -15px;
}

.z-index-5 {
  z-index: 5;
}

.z-index-1 {
  z-index: 1;
}