{% extends '::base.html.twig' %}

{% block body %}

<div class="top-wrapper z-depth-2">
    <div class="container">
        <div class="section section-20 no-padding-bottom">

            <div class="row">
                <div class="col s12 center-align">
                    <div class="title-wrapper">
                        <h1 class="page-title">RCon server removed.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="bread">
        <div class=" nav-wrapper teal">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <a href="/" class="breadcrumb">Home</a>
                        <a href="{{ path('discord-auth') }}" class="breadcrumb">Servers</a>
                        <a href="{{ path('server_form', { 'guildId': guild.__get('id') }) }}" class="breadcrumb">{{ guild.__get('name') }}</a>
                        <a href="{{ path('server_form', { 'guildId': guild.__get('id') }) }}" class="breadcrumb">Deleted</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="grey lighten-3">
    <div class="container">
        <div class="section section-50">
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ path('server_form', {'guildId': guild.__get('id')}) }}" class="btn waves-effect waves-light btn-large zupa-btn save-btn">Back to Discord Server</a>
                </div>
            </div>
        </div>
    </div>
</div>


    {% endblock %}
