{% extends '::base.html.twig' %}

{% block body %}

<div class="top-wrapper z-depth-2">
    <div class="container">
        <div class="section section-20 no-padding-bottom">

            <div class="row">
                <div class="col s12 center-align">
                    <div class="title-wrapper">
                        <h1 class="page-title">{{ guild.__get('name') }}</h1>
                    </div>
                </div>
                <div class="col s4 center-align">
                    <img src="{{ asset('assets/images/zbot_circle.png') }}" class="discord-img" />
                    <div class="name">ZBot</div>
                </div>
                <div class="col s4 center-align">
                    <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=256162454956933120&scope=bot&guild_id={{ guild.__get('id') }}&permissions=66321471"
                       class="waves-effect waves-light btn-large zupa-btn">
                        <i class="material-icons right">&#xE7F2;</i>Invite bot
                    </a>
                </div>

                <div class="col s4 center-align">
                    <img class="discord-img" alt="discord-img" src="https://cdn.discordapp.com/icons/{{ guild.__get('id') }}/{{ guild.__get('icon') }}.jpg" />
                    <div class="name">{{ guild.__get('name') }}</div>
                </div>
            </div>
        </div>
    </div>
    <nav class="bread">
        <div class=" nav-wrapper teal">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <a href="/" class="breadcrumb">Home</a>
                        <a href="{{ path('discord-auth') }}" class="breadcrumb">Servers</a>
                        <a href="{{ path('server_form', { 'guildId': guild.__get('id') }) }}" class="breadcrumb">{{ guild.__get('name') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="grey lighten-3">

    {% if saved %}
        <div class="js-saved"></div>
    {% endif %}

    <form id="guild-form" name="guild-form" action="{{ path('server_form', {'guildId': guild.__get('id')}) }}" method="post">
        <div class="container">
            <div class="section section-50">
                <div class="row">

                    <div class="col s12 center-align">
                        <button type="submit" name="submit"
                                class="btn waves-effect waves-light btn-large zupa-btn save-btn">Save</button>
                    </div>

                    <div class="col s12">
                        <div class="card white center-align">
                            <div class="card-content black-text">
                                <p class="center-align">
                                    To reload the config for your server into the bot, type in any channel of your server<br><br> !zbot reload
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6">

                        <div class="card white">
                            <div class="card-content black-text">
                                <span class="card-title">BattlEye RCON</span>
                                <div class="switch">
                                    <label>
                                        Off
                                        <input {%  if server.bercon.enabled == "on" %}checked{% endif %} type="checkbox" name="enabled">
                                        <span class="lever"></span>
                                        On ( Active )
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="card white">
                            <div class="card-content black-text">
                                <span class="card-title">Permissions</span>
                                <p>
                                    Provide the discord role needed to be able to use the following rcon commands in the command channel.
                                </p>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field inline">
                                            <input id="players" name="permissions[players]" type="text" class="validate" value="{{ server.bercon.permissions['players'] }}">
                                            <label for="players" data-error="wrong" data-success="right">players cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="admins" name="permissions[admins]" type="text" class="validate" value="{{ server.bercon.permissions.admins }}">
                                            <label for="admins" data-error="wrong" data-success="right">admins cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="bans" name="permissions[bans]" type="text" class="validate" value="{{ server.bercon.permissions.bans }}">
                                            <label for="bans" data-error="wrong" data-success="right">bans cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="loadScripts" name="permissions[loadScripts]" type="text" class="validate" value="{{ server.bercon.permissions.loadScripts }}">
                                            <label for="loadScripts" data-error="wrong" data-success="right">loadScripts cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="loadEvents" name="permissions[loadEvents]" type="text" class="validate" value="{{ server.bercon.permissions.loadEvents }}">
                                            <label for="loadEvents" data-error="wrong" data-success="right">loadEvents cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="say" name="permissions[say]" type="text" class="validate" value="{{ server.bercon.permissions.say }}">
                                            <label for="say" data-error="wrong" data-success="right">say cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="missions" name="permissions[missions]" type="text" class="validate" value="{{ server.bercon.permissions.missions }}">
                                            <label for="missions" data-error="wrong" data-success="right">missions cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="version" name="permissions[version]" type="text" class="validate" value="{{ server.bercon.permissions.version }}">
                                            <label for="version" data-error="wrong" data-success="right">version cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="update" name="permissions[update]" type="text" class="validate" value="{{ server.bercon.permissions.update }}">
                                            <label for="update" data-error="wrong" data-success="right">update cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="loadBans" name="permissions[loadBans]" type="text" class="validate" value="{{ server.bercon.permissions.loadBans }}">
                                            <label for="loadBans" data-error="wrong" data-success="right">loadBans cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="writeBans" name="permissions[writeBans]" type="text" class="validate" value="{{ server.bercon.permissions.writeBans }}">
                                            <label for="writeBans" data-error="wrong" data-success="right">writeBans cmd Role</label>
                                        </div>
                                    </div>

                                    <div class="col s12">
                                        <div class="input-field inline">
                                            <input id="removeBan" name="permissions[removeBan]" type="text" class="validate" value="{{ server.bercon.permissions.removeBan }}">
                                            <label for="removeBan" data-error="wrong" data-success="right">removeBan cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="ban" name="permissions[ban]" type="text" class="validate" value="{{ server.bercon.permissions.ban }}">
                                            <label for="ban" data-error="wrong" data-success="right">ban cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="addBan" name="permissions[addBan]" type="text" class="validate" value="{{ server.bercon.permissions.addBan }}">
                                            <label for="addBan" data-error="wrong" data-success="right">addBan cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">

                                        <div class="input-field inline">
                                            <input id="MaxPing" name="permissions[MaxPing]" type="text" class="validate" value="{{ server.bercon.permissions.MaxPing }}">
                                            <label for="MaxPing" data-error="wrong" data-success="right">MaxPing cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field inline">
                                            <input id="kick" name="permissions[kick]" type="text" class="validate" value="{{ server.bercon.permissions.kick }}">
                                            <label for="kick" data-error="wrong" data-success="right">kick cmd Role</label>
                                        </div>
                                    </div>

                                    <div class="col s12">
                                        <div class="input-field inline">
                                            <input id="disconnect" name="permissions[disconnect]" type="text" class="validate" value="{% if server.bercon.permissions.disconnect is defined %}{{ server.bercon.permissions.disconnect }}{% endif %}">
                                            <label for="disconnect" data-error="wrong" data-success="right">disconnect cmd Role</label>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field inline">
                                            <input id="exit" name="permissions[exit]" type="text" class="validate" value="{% if server.bercon.permissions.exit is defined %}{{ server.bercon.permissions.exit }}{% endif %}">
                                            <label for="exit" data-error="wrong" data-success="right">exit cmd Role</label>
                                        </div>
                                    </div>

                                    <div class="col s12">
                                        <div class="input-field inline">
                                            <input id="serverCommands" name="permissions[serverCommands]" type="text" class="validate" value="{{ server.bercon.permissions.serverCommands }}">
                                            <label for="serverCommands" data-error="wrong" data-success="right">serverCommands cmd Role</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="card white">
                            <div class="card-content black-text">
                                <span class="card-title">BE RCON Servers</span>
                                <p>
                                    Always save this form before editing a rcon instance.
                                </p>
                                <ul class="rcon-list">
                                    {% for bercon in server.bercon.servers %}
                                        <li>
                                            <a href="{{ path('bercon_form', { 'guildId': guild.__get('id') , 'berconId' : bercon.id }) }}" class="btn-floating btn-large green">
                                                <i class="large material-icons">mode_edit</i>
                                            </a>
                                            <span>{{ bercon.name }}</span>
                                            <a href="{{ path('bercon_form_delete', { 'guildId': guild.__get('id') , 'berconId' : bercon.id }) }}" class="btn-floating btn-large red js-delete-server">
                                                <i class="large material-icons">delete</i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <a href="{{ path('bercon_form', { 'guildId': guild.__get('id') , 'berconId' : 'new' }) }}" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>

                            </div>
                        </div>

                        <div class="card white">
                            <div class="card-content black-text">
                                <span class="card-title">Shared Actions</span>
                                <p>
                                    Actions that players can use in chat to activate commands.
                                    <br/>(eg: { <br/> command: '!teamspeak', <br/>reply: 'Our ts is xx.xx.xx.xx', <br/>discordReply: 'Someone asked for ts', <br/> role :'rcon-admin' } )
                                </p>
                                <div class="row">
                                    <div class="col s12 actionParent">
                                        {% for action in server.bercon.sharedActions %}
                                            <div class="action grey lighten-5 clearfix">
                                                <div>
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="command{{ loop.index0 }}" name="command{{ loop.index0 }}" type="text" class="validate" value="{{ action.command }}">
                                                            <label for="command{{ loop.index0 }}" data-error="wrong" data-success="right">Command</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="reply{{ loop.index0 }}" name="reply{{ loop.index0 }}" type="text" class="validate" value="{{ action.reply }}">
                                                            <label for="reply{{ loop.index0 }}" data-error="wrong" data-success="right">Reply Chat</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="discordReply{{ loop.index0 }}" name="discordReply{{ loop.index0 }}" type="text" class="validate" value="{{ action.discordReply }}">
                                                            <label for="discordReply{{ loop.index0 }}" data-error="wrong" data-success="right">Reply Discord</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="role{{ loop.index0 }}" name="role{{ loop.index0 }}" type="text" class="validate" value="{{ action.role }}">
                                                            <label for="role{{ loop.index0 }}" data-error="wrong" data-success="right">Discord role to mention</label>
                                                        </div>
                                                        <div class="col s12">
                                                            <a  href="#" class="btn-floating btn-large blue js-clone">
                                                                <i class="large material-icons">content_copy</i>
                                                            </a>
                                                            <a  href="#" class="btn-floating btn-large red js-remove">
                                                                <i class="large material-icons">delete</i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>


    {% endblock %}
