{% extends '::base.html.twig' %}

{% block body %}
    <div class="top-wrapper z-depth-2">
    <div class="container">
        <div class="section section-20">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 center-align">
                    <div class="title-wrapper">
                        <h1 class="page-title">ZBot</h1>
                        <h2 class="sub-title">BattlEye Rcon client</h2>
                    </div>


                    <a href="{{ provider.getAuthorizationUrl( options ) }}"
                       class="waves-effect waves-light btn-large zupa-btn">
                        <i class="material-icons right">&#xE7F2;</i>Sign In
                    </a>
                </div>
            </div>

        </div>
    </div>
        <nav class="bread">
            <div class=" nav-wrapper teal">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <a href="/" class="breadcrumb">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="section section-20">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="https://discord.gg/WYbeSKR" target="_blank"
                       class="waves-effect waves-light btn-large zupa-btn">Join us on discord</a>

                <div class="animation-wrapper">
                    <img src="{{ asset('assets/images/zbot_bot_logo_trans.png') }}" class="animation-img" />
                </div>
                </div>

            </div>
        </div>

    </div>



{% endblock %}
