{% extends '::base.html.twig' %}

{% block body %}

    <div class="top-wrapper z-depth-2">
        <div class="container">
            <div class="section section-20">
                <div class="row">
                    <div class="col s12 center-align">
                        <div class="title-wrapper">
                            <h1 class="page-title">ZBot - Servers</h1>
                        </div>
                    </div>
                    <div class="col s4 center-align">
                        <img src="{{ asset('assets/images/zbot_circle.png') }}" class="discord-img" />
                        <div class="name">ZBot</div>
                    </div>
                    <div class="col s4 center-align">
                        <a target="_blank" href="https://discord.gg/WYbeSKR"
                           class="waves-effect waves-light btn-large zupa-btn">
                            Join us on discord
                        </a>
                    </div>
                    <div class="col s4 center-align">
                        <img class="discord-img" src="https://cdn.discordapp.com/avatars/{{ user.id }}/{{ user.__get('avatar') }}.jpg" />
                        <div class="name">{{ user.__get('username') }}</div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="bread">
            <div class=" nav-wrapper teal">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <a href="/" class="breadcrumb">Home</a>
                            <a href="{{ path('discord-auth') }}" class="breadcrumb">Servers</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="section section-20">
            <div class="row">
                <div class="col s12 center-align">
                    {% if guilds is defined and guilds|length > 0 %}
                        {% for guild in guilds %}
                            <a href="{{ path('server_form', { 'guildId': guild.__get('id') }) }}" class="guild-server">
                                {% if guild.__get('icon')  %}
                                    <img alt="no-image" src="https://cdn.discordapp.com/icons/{{ guild.__get('id') }}/{{ guild.__get('icon') }}.jpg" />
                                {% else %}
                                    <div class="circle"></div>
                                {% endif %}
                                <div class="name">{{ guild.__get('name') }}</div>
                            </a>
                        {% endfor %}
                    {% else %}
                        You do not own any server on discord. If this is incorrect, refresh the page.
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
